@page "/demohotel"
@using Heavenly_Residences_Server.Model
@using Microsoft.AspNetCore.Mvc.ViewFeatures
<h3>DemoHotel</h3>



<div class="container mt-2 p-2 " style="background-color: azure">
    <h1>Rooms Selected : @CountOfSelectedRooms</h1>


    @foreach (var item in roomList)

    {
        <IndivitudalRoom Room="item" OnSelecetedRoom="SelecetedRoom"></IndivitudalRoom>

    }

    @foreach (var item in AmenittList)
    {
        <IndivitudalAmenities Amenity="item" onSelectedAmenities ="ChangeSelectedAmenities"></IndivitudalAmenities>
    }
    <div>
        <h3 class="text-info">@SelectedAmenities</h3>
    </div>

</div>












@code{

    public int CountOfSelectedRooms { get; set; } = 0;
    public string SelectedAmenities { get; set; } = ""; 
    List<BlazorRoom> roomList = new();
    List<BlazorAmenities> AmenittList = new List<BlazorAmenities>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        roomList.Add(new BlazorRoom()
        {
            Id = 1,
            IsActive = true,
            Price = 46.99,
            RoomName = "GreateRooom",
            RoomProps = new List<BlazorRoomProp>()
{
                new BlazorRoomProp() { Id = 1, Name = "Item1", Value = "val1" },
                new BlazorRoomProp() { Id = 2, Name = "Item2", Value = "val2" },
                new BlazorRoomProp() { Id = 3, Name = "Item3", Value = "val3" },

            }

        });
        roomList.Add(new BlazorRoom()
        {
            Id = 2,
            IsActive = false,
            Price = 500,
            RoomName = "ExcelentRooom",
            RoomProps = new List<BlazorRoomProp>()
{
                new BlazorRoomProp() { Id = 11, Name = "Item11", Value = "val11" },
                new BlazorRoomProp() { Id = 21, Name = "Item21", Value = "val21" },
                new BlazorRoomProp() { Id = 31, Name = "Item31", Value = "val31" },

            }

        });



        AmenittList.Add(new BlazorAmenities()
        {
            Name = "A",
            Id = 1,
            Description = "AAA"

        });
        AmenittList.Add(new BlazorAmenities()
        {
            Name = "B",
            Id = 2,
            Description = "BBB"

        });
        AmenittList.Add(new BlazorAmenities()
        {
            Name = "C",
            Id = 3,
            Description = "CCC"

        });



    }

    protected void SelecetedRoom(bool isRoomSelected)
    {

        if (isRoomSelected)
        {
            CountOfSelectedRooms++;
            ;
        }
        else
        {
            CountOfSelectedRooms--;
        }


    }

    protected void ChangeSelectedAmenities(string amenity)
    {

        SelectedAmenities += amenity;
    }





}

