
<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name
        <a href="Identity/Account/Logout">Logout</a>
        <a href="Identity/Account/Register">Register(Just For Add Individual User!)</a>
    </Authorized>
    <NotAuthorized>
       
        <a href="Identity/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>
@code {

}
